* {
    box-sizing: border-box;
}

 body{
    text-align: center;
}

h1, h3{
    margin: auto;
    text-align: center;
    padding: 0 0 10px;
}

.currentDay {
    background-color:  rgb(58, 58, 58);
    color: white;
    cursor: pointer;
}

table {
    display: inline-table;
    padding: 10px;
    text-align: center;
    color: rgb(32, 32, 32);

}

.clock{
    display: inline-block;
    position: fixed;
    background-color: rgb(58, 58, 58);
    font: 25px Arial;
    color: rgb(255,255,255);
    outline-color: black;
    padding: 2px 7px;
}


