* {
    box-sizing: border-box;
}

 body{
    text-align: center;
} 

h1, h3{
    margin: auto;
    text-align: center;
    padding: 0 0 10px;
}

.currentDay {
    background-color: yellow;
    cursor: pointer;
}

table {

    display: inline-table;
    padding: 10px;
    text-align: center;

}

.clock{
    display: inline-block;
    position: fixed;
    background-color: rgb(255, 247, 253);
    /* font-family: arial;
    font-size: 25px; */
    font: 25px Arial;
    border-style: 5px solid rgba(0,0,0, 1.0);
    border-radius: 5px;  
}


